:root {
    --cor-principal: #0000FF;
    --cor-secundaria: rgb(0, 0, 0);
    --cor-de-fundo: #000;
    --cor-branca: rgb(255, 255, 255);
    --cor-transicao: rgb(216, 0, 0);
}
@font-face {
    font-family: Butler;
    src: url("Butler_Regular.otf");

}
header {
    background-size: 100%;
    position: fixed;
    width: 100%;
    top: 0px;
    font-weight: 700;
    background-color: var(--cor-de-fundo);
    font-size: 20px;
    z-index: 99;
}
nav {
    float: right;
}
nav ul {
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 30px;
}
nav ul li a {
    text-decoration: none;
    color: var(--cor-branca);
    transition: all 1s;
    font-family: Butler;
}
nav ul li a:hover {
    color: linear-gradient(to right,rgb(0, 80, 172), rgb(83, 20, 200));
}
.rf {
    width: 100px;
    margin: 5px;
}
.btn {
    padding: 5px 20px 5px 20px;
    transition: all 1s;
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
    font-size: 20px; 
    text-decoration: none;    
    border: 1px solid var(--cor-branca);  
    font-family: Butler;
}
.btn:hover {
    color: var(--cor-secundaria);
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(57, 20, 126));
}
.mais-projetos {
    text-align: center;
    margin: 0;
}
.principal {
    background-size: contain;
    width: 100%;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__caixa .container__imagem {
    width: 300px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    margin: 200px 0 0 40px    
}

.grid {
        display: grid;
        grid-template-columns: repeat(3, 33%);
}    
.grid .coluna {
    /* topo direita embaixo esquerda */
    margin: 20px 10px 30px 20px;
}
.grid .coluna {
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 10px var(--cor-de-fundo);
    border: solid 3px ;
}
.main {
    width: 1400px;
    /* alinhar o main ao centro */
    margin: 50px auto;
   
    
}
.main .grid img  {
    width: 100%;
}
.main h1 {
    text-align: center;
    margin: 160px 0 40px 0;
    font-family: 'Play';
    font-weight: 500;
}
.grid .coluna h2  {
    text-align: center;
    margin: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}
.grid .coluna p {
    text-align: center;
    font-size: 22px;
    font-family: 'Play';
}
.grid .coluna:hover {
    transform: scale(1.03);   
}
footer {
    background-color: var(--cor-de-fundo);
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    color: var(--cor-branca);
    width: 100%;
    background-size: 100%;
    
}
footer a {
    background:  linear-gradient(to right,rgb(0, 80, 172), rgb(83, 20, 200));
    text-decoration: none;  
    margin: 10px;
    color: var(--cor-branca);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    transition: all 0.5s;
   
}
footer a:hover {
    background: rgb(80, 19, 195);
    color: var(--cor-de-fundo);
}
.menu  {
    /* cor da fonte */
    color: var(--cor-branca);
    /* cor da borda */
    border: 1px solid var(--cor-branca);
    /* retirar sublinhado */
    text-decoration: none;
    /* flutuar a direita */
    float: right;
    /* margem externa */
    margin: 25px;
    /*margem interna*/
    padding: 5px 10px 5px 10px;
    /* esconder o botao */
    display: none;
}
.menu {
    display: none;
}
.mostrar {
    display: block;
}
@media (max-width: 420px) {
    .menu {
        /* mostrar o botao do menu */
        display: block;
    
    }
    header nav {
        display: none;
    }
    .rf {
        width: 80px;
        text-align: center;
    }
    nav {
        width: 100%;
        /* esconder o nav */
    }
    header nav ul li {
        /* deixar um encima do outro */
        display: inline-block;
        font-size: 15px;
        margin: 5px 0px 0px 15px;
        padding: 5px;
   
    }
    .main {
        width: 100%;
        text-align: center;
    }
    .main h1 {
        margin: 115px 0 20px 0;
    }
    .grid {
        grid-template-columns: 100%;
    }
    .grid .coluna {
        margin: 15px;
    }
    .grid .coluna h2 {
        margin: 10px;
    }
    .btn-cv {
        display: none;
    }
}